.player_header {
  position: relative;
  text-align: center;
  .icon-left {
    position: absolute;
    top:0;
    left:0;
    font-size: 24px;
    padding:10px;
    color: #fff;
  }
  .song_info {
    text-align: center;
    padding:5px;
    color: #fff;
    .name {
      font-size:15px;
      margin-bottom:6px;
    }
    .artist {
      font-size:12px;
    }
  }
}