.component_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding:10px 0;
  border-bottom: 1px solid #e9e9ea;
  .item_desc {
    flex:0 0 90%;
    .name-wrapper {
      display: flex;
      align-items: center;
      width: 72vw;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .name {
        font-size:16px;
        color: #333333;
        font-weight: 500;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .alias {
        color: #8b8b8b;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .artist-wrapper {
      display: flex;
      line-height:12px;
      font-size: 12px;
      color: #8b8b8b;
      width:70vw;

      .artists {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon-sq{
        color: #fe672e ;
      }
    }
  }
  .icon-play01 {
    margin-right:25px;
    font-size:20px;
    color: #aaaaaa;
  }
}
