.artistsImg {
  position: relative;
  z-index: -1;
  margin-top:-43px;
  width: 100%;
  padding-bottom: 80%;
  background-image: url("http://p3.music.126.net/6OARlbfxOysQJU5iZ8WKSA==/18769762999688243.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}